<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>

              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a goal</h2>
            <form action="/post/addGoal" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="goalName" class="form-label">Activity</label>
                  <input type="text" class="form-control" id="goalName" name="goalName">
              </div>
              <div class="mb-3">
                <label for="time" class="form-label">Amount of Hours Per Week</label>
                <textarea class="form-control" id="time" name="time"></textarea>
              </div>

              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">

        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
          <h1>Goals for the week</h1>
          <ul>
            <% goals.forEach(function(goal) { %>
            <li><%= goal.goalName%>: <%= goal.time %>  hr </li> 
           <% }) %>
          </ul>

        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>